[submodule "EXDSchema"]
	path = deps/EXDSchema
	url = https://github.com/xivdev/EXDSchema.git
	branch = latest
[submodule "EXDSchema-experimental"]
	path = deps/EXDSchema-experimental
	url = https://github.com/xivdev/EXDSchema.git
	branch = latest